table {
  width: 100%;
  border-collapse: collapse;  /* Ensures borders between cells are merged */
}

th, td {
  border-bottom: 1px solid #8683837d;  /* Thin line after each row */
  border-right: 1px solid #8683837d;   /* Thin line after each column */
}

th:last-child, td:last-child {
  border-right: none; /* Remove right border for the last column */
}

tr:last-child th, tr:last-child td {
  border-bottom: none; /* Remove bottom border for the last row */
}



.twinkling-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twinkling-star {
  font-size: 50px; /* Adjust size as needed */
  color: #fbbf24; /* Star color (you can change it) */
  animation: twinkle 2s infinite ease-in-out, scaleTwinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes scaleTwinkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



